[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/Prototik/HoloEverywhere.git
[submodule "android-HoloCircularProgressBar"]
	path = android-HoloCircularProgressBar
	url = https://github.com/passsy/android-HoloCircularProgressBar.git
