<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.orange.familylink"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bcfbf84faf47a75a95ee7507dbbbd089" />

        <provider
            android:name="org.orange.familylink.database.ContactsProvider"
            android:authorities="org.orange.familylink.provider.contactsprovider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>
        <provider
            android:name="org.orange.familylink.database.MessagesProvider"
            android:authorities="org.orange.familylink.provider.messagesprovider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <!-- 短信发送状态Receiver -->
        <receiver android:name=".sms.SmsStatusReceiver" />
        <!-- 开机启动的Receiver，用于开启Service -->
        <receiver android:name="org.orange.familylink.util.StartServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <!-- The main/home activity (has no parent activity) -->
        <activity
            android:name="org.orange.familylink.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.orange.familylink.MessagesActivity"
            android:parentActivityName="org.orange.familylink.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.familylink.messages" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.orange.familylink.ContactsActivity"
            android:label="@string/contact"
            android:parentActivityName="org.orange.familylink.MainActivity" />
        <activity
            android:name="org.orange.familylink.ContactDetailActivity"
            android:label="@string/contact_details"
            android:parentActivityName="org.orange.familylink.ContactsActivity" />
        <activity
            android:name="org.orange.familylink.SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="org.orange.familylink.StatusActivity"
            android:label="@string/status_activity_label"
            android:parentActivityName="org.orange.familylink.SettingsActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.orange.familylink.SettingsActivity" />
        </activity>
        <activity
            android:name="org.orange.familylink.AlarmCountdownActivity"
            android:label="@string/fall_down_alarm"
            android:theme="@style/AppTheme.CircularProgress" >
        </activity>
        <activity
            android:name="org.orange.familylink.AlarmActivity"
            android:label="@string/alarm" >
        </activity>
        <activity 
            android:name="org.orange.familylink.MapActivity"
            android:label="@string/locate_result" >
        </activity>

        <service android:name=".location.LocationService" />
        <service android:name="org.orange.familylink.sms.SmsReceiverService" />
        <!-- fall down service -->
        <service android:name="org.orange.familylink.alarm.AlarmService" />
    </application>

</manifest>